<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Select all FAQ items
        const faqItems = document.querySelectorAll('[data-faq]');

        faqItems.forEach(function (item) {
          // Get the toggle element (the image)
          const toggle = item.querySelector('[data-faq-toggle]');
          // Get the body content that needs to be toggled
          const body = item.querySelector('[data-faq-body]');
          // Get the image inside the toggle div
          const image = toggle.querySelector('img');

          // Add a click event listener to the toggle
          toggle.addEventListener('click', function () {
            // Toggle the hidden class on the body
            body.classList.toggle('hidden');
            // Change the image based on the visibility of the body
            if (body.classList.contains('hidden')) {
              image.src = "{{ 'icons/+.svg' | asset_url }}"; // Set to the plus icon
              image.style.marginTop = '0px';
            } else {
              image.src = "{{ 'icons/-.svg' | asset_url }}"; // Set to the minus icon
              image.style.marginTop = '8px';
            }
          });
        });
      });
    </script>
  </head>

  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'find_something' %}
  </body>
</html>
